#page1{
    background: linear-gradient(to right, #2790f9, #d649f9);
}
#page2{
    background: rgb(0, 0, 0);
}
#page3{
    background: rgb(255, 126, 126);
}

.first{
    float: left;
    width:5%;
    height: 10%;
    position: absolute;
    top:0%;
    left:2%;
}
.first:hover{
    transform: scale(1.1);
}
nav {
    background-color: rgba(255, 255, 255); 
    color: #fff; 
    position: absolute;
    height: 75px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
}

ul {
    display: flex; 
    justify-content: center;     
    margin-top: 29px;
}
li {
    display:inline-block; 
    padding: 0 30px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li a{
    text-decoration: none;
    color: #0a0505;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #f466f4;
}

.content{  
    width: 1200px;
    height: 500px;
    border-radius: 20px;
    background-color:  rgba(255, 255, 255,0.4); 
    position: absolute;
    top: 20%;
    left: 10%;
}
.second{
    position: absolute;
    width: 60%;
    height: 80%;
    top: 5%;
    right: 0%;
}
h1{
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 75px;
    width: 40%;
    text-shadow: 4px 4px 4px rgba(211, 250, 82, 0.5);
    color: #000000;
}
h1:hover{
    color:#f74284;
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}
.login{
    width: 1100px;
    height: 500px;
    background-color:  rgb(255, 255, 255); 
    position: absolute;
    top: 20%;
    left: 20%;
}
.login-left{
    text-align: right;
}
p1{
    position: absolute;
    top: 18%;
    right: 34%;
    font-size: 35px;
    color: #000000;
    
}
p2{
    position: absolute;
    top:27%;
    right:15%;
    color: #535353;
}
.my-form {
    width: 300px;
    margin-top: 14%;
    margin-left: 60%;
    font-size: larger;
  }
  
 label {
    margin-right: 80%;
    color: #a205bb;
    margin-bottom: 24px;
    
}
  
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: #a205bb;
    transition: border-color 0.3s;
    margin-bottom: 25px;
}
  
.btn{
    background-color: #704caf;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #9d65e0;
}
.right{
    width: 550px;
    height: 500px;
    background-color:  rgb(58, 3, 98); 
    position: absolute;
    top: 0%;
    right: 60%;
}
.right img {
    position: absolute;
    top: 10%;
    left: 10%;
}
p3{  
    font-size: 34px;
    position: absolute;
    top: 0%;
    right: 40%;
    align-items: center;
    color: #020e6a;
}

.nav1{
    background-color: rgba(255, 255, 255); 
    color: #000000; 
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100px;
    width: 100%;
    padding: 0;
    text-align: right; 
}
.nav1 li{
    margin-top: 55px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.nav1 li:hover{
    color: #d649f9;
}
.third{
    float: left;
    width:5%;
    height: 70%;
    position: absolute;
    top:9%;
    left:2%;
}
.third:hover{
    transform: scale(1.1);
}